doctype
html
  head
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="/socket.io/socket.io.js")
    link(rel='stylesheet', href='/app.css')
    script.
      var client = {
        id: '#{id}'
      };

  body
    .client.me(id="#{id}")
    script(src="/app.js")
