.me {
  background: #336699!important;
  z-index: 100!important;
}

.client {
  background: #666;
  position: absolute;
  height: 64px;
  width: 128px;
  z-index: 1;
  -webkit-transition: top 0.1s, left 0.1s linear;
  transition: top 0.1s, left 0.1s linear;
}

.distance1 {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    -webkit-transition: -webkit-filter 0.5s, -moz-filter 0.5s, -o-filter: 0.5s, -ms-filter: 0.5s, filter: 0.5s ease-out;
    transition: -webkit-filter 0.5s, -moz-filter 0.5s, -o-filter: 0.5s, -ms-filter: 0.5s, filter: 0.5s ease-out;
}

.distance2 {
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
    -webkit-transition: -webkit-filter 0.5s, -moz-filter 0.5s, -o-filter: 0.5s, -ms-filter: 0.5s, filter: 0.5s ease-out;
    transition: -webkit-filter 0.5s, -moz-filter 0.5s, -o-filter: 0.5s, -ms-filter: 0.5s, filter: 0.5s ease-out;
}

.distance3 {
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
    -ms-filter: blur(20px);
    filter: blur(20px);
    -webkit-transition: -webkit-filter 0.5s, -moz-filter 0.5s, -o-filter: 0.5s, -ms-filter: 0.5s, filter: 0.5s ease-out;
    transition: -webkit-filter 0.5s, -moz-filter 0.5s, -o-filter: 0.5s, -ms-filter: 0.5s, filter: 0.5s ease-out;
}

.destroy {
  -webkit-transform: scale(1.4, 1.4);
  opacity: 0.25;
  -webkit-transition: -webkit-transform 0.25s, opacity 0.25s, visibility 0.25s ease-out;
  transition: -webkit-transform 0.25s, opacity 0.25s, visibility 0.25s ease-out;
  visibility: hidden;
}
